<h1>Ausgaben</h1>
<div>
    <button *ngIf="!showForm" (click)="showForm = true" class="glyphicon glyphicon-plus">Hinzufügen</button>

    <div *ngIf="showForm">
      <div class="row col-md-offset-4">
        <div class="col-md-2">
          <label>Datum: </label>
        </div>
        <div class="col-md-2">
          <input type="date" [(ngModel)]="newExpense.date" /><br>
        </div>
      </div>
      <div class="row col-md-offset-4">
        <div class="col-md-2">
          <label>Wert (in €): </label>
        </div>
        <div class="col-md-2">
          <input type="number" [(ngModel)]="newExpense.value"/><br>
        </div>
      </div>
      <div class="row col-md-offset-4">
        <div class="col-md-2">
          <label>Bemerkung: </label>
        </div>
        <div class="col-md-2">
          <input type="input" [(ngModel)]="newExpense.note" /><br>
        </div>
      </div>
      <div class="row col-md-offset-4">
        <div class="col-md-2">
          <label>Kategorie:</label>
        </div>
        <div class="col-md-2">
          <select [(ngModel)]="newExpense.category">
            <option *ngFor="let category of expenseCategories" [ngValue]="category">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="row col-md-offset-5">
        <div class="col-md-2">
          <button *ngIf="showForm" (click)="submitForm()" (click)="showForm = false">Speichern</button>
        </div>
        <div class="col-md-2">
          <button *ngIf="showForm" (click)="showForm = false">Abbrechen</button>
        </div>
      </div>
    </div>
</div>

<div class="col-lg-10 col-lg-offset-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">Datum</th>
        <th class="text-center">Wert</th>
        <th class="text-center">Bemerkung</th>
        <th class="text-center">Kategorie</th>
        <th class="text-center">Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{expense.date}}</td>
        <td>{{expense.value}} €</td>
        <td>{{expense.note}}</td>
        <td>{{expense.category.name}}</td>
        <td>{{expense.type | lowercase}}</td>
        <div></div>
        <!--<td><button  (click)="remove(expense)" class="glyphicon glyphicon-remove"></button></td>-->
      </tr>
    </tbody>
  </table>
</div>

