<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid text-center">
  <nav>
    <button class="btn btn-primary btn-lg" routerLink="/dashboard">Übersicht</button>
    <button class="btn btn-primary btn-lg" routerLink="/expenses">Ausgaben</button>
    <button class="btn btn-primary btn-lg" routerLink="/incomes">Einnahmen</button>
    <button class="btn btn-primary btn-lg" routerLink="/categories">Kategorien</button>
  </nav>

  <router-outlet></router-outlet>
</div>

